*/30 * * * * /usr/local/bin/python3 /usr/src/app/main.py -l >> /var/log/cron.log 2>&1
0 12 * * * /usr/local/bin/python3 /usr/src/app/main.py -d >> /var/log/cron.log 2>&1 
0 17 * * 1 /usr/local/bin/python3 /usr/src/app/main.py -w >> /var/log/cron.log 2>&1
0 9 */2 * * /usr/local/bin/python3 /usr/src/app/main.py -m >> /var/log/cron.log 2>&1
