*/5 * * * * /usr/local/bin/python3 /usr/src/app/main.py -l >> /var/log/cron.log 2>&1
0 12 * * * /usr/local/bin/python3 /usr/src/app/main.py -d >> /var/log/cron.log 2>&1 
0 17 * * 1 /usr/local/bin/python3 /usr/src/app/main.py -w >> /var/log/cron.log 2>&1
0 16 1 * * /usr/local/bin/python3 /usr/src/app/main.py -m >> /var/log/cron.log 2>&1
0 22 * * 1-5 /usr/local/bin/python3 /usr/src/app/main.py -f >> /var/log/cron.log 2>&1
0 0 * * * find /var/log/nearquake -type f -name "*.log" -mtime +7 -delete